{% extends "app1/base.html" %}
{% block title %} Contact Us {% endblock title %}
{% block styles %} <link rel="stylesheet" href="{% static 'app1/styles/contact.css'%}"> {% endblock styles %}
{% block header %} Contact Us {% endblock header %}
{% block content %} 
<h2>Get in Touch</h2>
<form action="/submit_form" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="message">Message:</label>
    <textarea id="message" name="message" rows="5" required></textarea>

    <button type="submit">Submit</button>
</form>
{% endblock content %}