{% extends "app1/base.html" %}
{% block title %} Our Services {% endblock title %}
{% block header %} Our Services {% endblock header %}
{% block content %} 
<h2>What We Offer</h2>
<p>We provide a wide range of services to meet your needs. Here are some of the services we offer:</p>
<ul>
    <li>Service 1: Description of service 1.</li>
    <li>Service 2: Description of service 2.</li>
    <li>Service 3: Description of service 3.</li>
    <li>Service 4: Description of service 4.</li>
    <li>Service 5: Description of service 5.</li>
</ul>
{% endblock content %}