{% extends "student/base.html" %}
{% load static %}
{% block addstyle %}
<link rel="stylesheet" href="{% static 'student/styles/registrationstyle.css' %}">
{% endblock addstyle %}
{% block title %}{% endblock title %}
{% block addon %}

<div class="custom-form">
    <form class="myform" method="post" novalidate>
        {% csrf_token %}
        <h2>{% block heading %}{% endblock heading %}</h2>      
        {% for field in form_obj %}
            <div>
                {% block content %}
                    {{ field.label_tag }} {{ field }}
                    {% if field.errors %}
                        <div style="color: red;">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                {% endblock content %}
            </div>
        {% endfor %}
    
        <input type="submit" value="{% block submitBtn %}Submit{% endblock submitBtn %}">
    </form>
</div>
{% endblock addon %}
